<html>

<head>
    <title>ResNet50 Classifier</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="flex-container">
        <div>
            <h1>ResNet50 Classifier</h1>
        </div>
        <div>
            <input type='file' id="file-input" />
            <button id="btn" type="button">Submit</button>
        </div>
        <div class="flex-horizontal">
            <div id="img-div">
            </div>
            <div id="pred-table">
            </div>
        </div>

    </div>

    <script src='{{ url_for("static",path="/script.js") }}'></script>

</body>

</html>